.main {
    display: block;
}

.first {
    margin-bottom: 20px;
    height: 50px;
    background-color: darkred;
    display: flex;
}

.second {
    height: 250px;
    background-color: rgb(115, 184, 198);
}

.main1 {
    display: flex;
}

.post {
    width: 600px;
    margin-top: 50px;
    margin-left: 100px;
}

.third {
    display: flex;
    margin-top: 20px;
    height: 400px;
}

.posta img {
    height: 200px;
    width: 250px;
}

.posta {
    margin-left: 85px;
    height: 330px;
    width: 250px;
    border: 2px solid rgb(230, 229, 229);
    border-radius: 3px;
}

.butn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}